<div
  class=" my-10 h-full border border-blue-500 rounded-lg p-6 w-screen max-w-6xl mx-auto"
>
  <div class="bg-blue-500 rounded-t-lg">
    <h2 class="text-white text-2xl p-4">Guardian/Parent Information</h2>
  </div>
  <form class="w-full">
    <div class="grid space-y-2">
      <label for="fullName">FullName</label>
      <input
        type="text"
        class="border-[#ced4da] w-[50%] h-10 border-[1px] rounded-[5px] text-[#333] font-[500] p-2 outline-none"
        placeholder="Full name"
        name="fullName"
      />
    </div>
    <div class="flex gap-x-4 mt-4 items-center">
      <div class="grid w-[50%]">
        <div class="grid space-y-2">
          <label >Email</label>
          <input
            type="Email"
            placeholder="Enter Email "
            class="p-2 border-[#ced4da] w-full h-10 border-[1px] rounded-[5px] text-[#333] font-[500]"
            name="dob1"
          />
        </div>
      </div>
      <div class="grid w-[50%]">
        <div class="grid space-y-2">
          <label >Phone</label>
          <input
            type="number"
            placeholder="Enter Phone Number"
            class="p-2 border-[#ced4da] w-full h-10 border-[1px] rounded-[5px] text-[#333] font-[500]"
            
          />
        </div>
      </div>
    </div>
    <div class="flex gap-x-4 mt-4 items-center">
        <div class="grid w-[50%]">
          <div class="grid space-y-2">
            <label >Occupation</label>
            <input
              type="text"
              placeholder="Enter Occupation "
              class="p-2 border-[#ced4da] w-full h-10 border-[1px] rounded-[5px] text-[#333] font-[500]"
              
            />
          </div>
        </div>
      </div>
  </form>
</div>
