<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Step 1: Personal Information</ng-template>
    <app-personal-info [formGroup]="firstFormGroup"></app-personal-info>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="guardianFormGroup">
    <ng-template matStepLabel>Step 2: Guardian Information</ng-template>
    <app-guardian-info [guardianForm]="guardianFormGroup"></app-guardian-info>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="educationFormGroup" optional>
    <ng-template matStepLabel>Step 3: Previous Education and Enrollment Information</ng-template>
    <app-education [educationForm]="educationFormGroup"></app-education>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Documents Upload and Consent</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
